<h1>The courses are</h1>
Here we want a ul list with the instructor, coursenum, title, term
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Semester</th>
            <th>Course #</th>
            <th>Course Title</th>
            <th>Enr/Limit/Waiting</th>
            <th>Times</th>
            <th>Instructor</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (course of courses) {
        const inst = course['instructor'];
        const term = course.term;
        const sem = term%10;
        const year = (Math.round(term/10))%100
        const semester=['none','Spring 20','Summer 20','Fall 20']
         %>
      <tr class="mb-2"> 
        <td><%= semester[sem]+year %></td>
        <td>
            <a href="/courses/bySubject/<%=course.subject %>">
              <%=  course['subject'] %>
            </a><a href="/courses/bySubject/<%=course.subject %>/<%= course.coursenum %>">
              <%=  course['coursenum'] %> 
            </a><a href="/courses/bySubject/<%=course.subject %>/<%= course.coursenum %>/<%= course.section %>">
                (Section <%=  course['section'] %>)
            </a>
            

 
        </td>

        <td>
            <a href="/courses/byName/<%=course.name %>">
               <strong><%= course.name %></strong>
            </a>
        </td>

        <td>
            <%=course.enrolled %>/<%=course.limit || 999 %>/<%= course.waiting %>
        </td>

        <td>
            <a href="/courses/show/<%=course._id %>">
                <% for (t of times2str(course.times)){%> 
                    <%= t %> <br> 
                <%} %>
            </a>
        </td>
         <!-- <%= JSON.stringify(course.times) %> <br> -->
        

        <td>
          <a href="/courses/byInst/<%= inst[2] %>">
             <%= inst[0]+" "+inst[1]%> <br> <%= " ("+inst[2]+")" %>
          </a>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>

<pre>
    <!-- 
        <%= JSON.stringify(courses,null,5) %> 
    -->
</pre>