
<%
// here are all CS courses with >=150 students since 2004
courses = 
[{'subj': 'COSI',
'num': '2A',
'term': 'Spring 2017',
'inst': 'Hickey, Timothy',
'title': 'INTRO TO COMPUTERS',
'enr': '158'},

{'subj': 'COSI',
'num': '155B',
'term': 'Spring 2018',
'inst': 'Hickey, Timothy',
'title': 'COMPUTER GRAPHICS',
'enr': '155'},

{'subj': 'COSI',
'num': '11A',
'term': 'Fall 2018',
'inst': 'Hickey, Timothy',
'title': 'PROGRAMMING IN JAVA',
'enr': '169'},

{'subj': 'COSI',
'num': '164A',
'term': 'Spring 2019',
'inst': 'Hickey, Timothy',
'title': 'INTRO 3-D ANIMATION',
'enr': '153'},

{'subj': 'COSI',
'num': '29A',
'term': 'Fall 2019',
'inst': 'Cherniack, Mitch',
'title': 'DISCRETE STRUCTURES',
'enr': '154'},

{'subj': 'COSI',
'num': '10A',
'term': 'Fall 2019',
'inst': 'Hickey, Timothy',
'title': 'INTRO PROBLEM SOLVING PYTHON',
'enr': '155'},

{'subj': 'COSI',
'num': '164A',
'term': 'Fall 2020',
'inst': 'Hickey, Timothy J',
'title': 'Introduction to 3-D Animation',
'enr': '166'}]
%>
<h1> Exam 10b: Large CS Courses since 2004</h1>
<div class="d-flex flex-wrap">
<% for (course of courses) {   
    %>

    <div class="p-3 m-3 bg-info border border-primary border-5">
        <%= course['subj'] %> <%= course['num'] %> 
        <%= course['term'] %> 
        <br> <%= course['enr'] %> enrolled
        <hr>
        <%= course['inst'] %> 
        <br>
        <%= course['title'] %> 
    </div>
    <% } %>
</div>

