
<%
  // here are all CS courses with >=150 students since 2004
  courses = 
  [{'subj': 'COSI',
  'num': '2A',
  'term': 'Spring 2017',
  'inst': 'Hickey, Timothy',
  'title': 'INTRO TO COMPUTERS',
  'enr': '158'},

 {'subj': 'COSI',
  'num': '155B',
  'term': 'Spring 2018',
  'inst': 'Hickey, Timothy',
  'title': 'COMPUTER GRAPHICS',
  'enr': '155'},

 {'subj': 'COSI',
  'num': '11A',
  'term': 'Fall 2018',
  'inst': 'Hickey, Timothy',
  'title': 'PROGRAMMING IN JAVA',
  'enr': '169'},

 {'subj': 'COSI',
  'num': '164A',
  'term': 'Spring 2019',
  'inst': 'Hickey, Timothy',
  'title': 'INTRO 3-D ANIMATION',
  'enr': '153'},

 {'subj': 'COSI',
  'num': '29A',
  'term': 'Fall 2019',
  'inst': 'Cherniack, Mitch',
  'title': 'DISCRETE STRUCTURES',
  'enr': '154'},

 {'subj': 'COSI',
  'num': '10A',
  'term': 'Fall 2019',
  'inst': 'Hickey, Timothy',
  'title': 'INTRO PROBLEM SOLVING PYTHON',
  'enr': '155'},

 {'subj': 'COSI',
  'num': '164A',
  'term': 'Fall 2020',
  'inst': 'Hickey, Timothy J',
  'title': 'Introduction to 3-D Animation',
  'enr': '166'}]
%>
<h1> Exam 8b: Large CS Courses since 2004</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr><td>Course</td><td>Semester</td><td>Instructor</td><td>title</td><td>Enrollment</td></tr>
    </thead>
    <tbody>
        <% for (course of courses) {   
            %>
          <tr>
              <td> <%= course['subj'] %> <%= course['num'] %> </td>
              <td> <%= course['term'] %> </td>
              <td> <%= course['inst'] %> </td>
              <td> <%= course['title'] %> </td>
              <td> <%= course['enr'] %> </td>
          </tr>
        <% } %>
    </tbody>
</table>